<data>
	<event id="2"><start_date><![CDATA[2015-10-24 00:00:00]]></start_date><end_date><![CDATA[2015-10-25 00:00:00]]></end_date><text><![CDATA[French Open]]></text><details><![CDATA[Philippe-Chatrier Court Paris, FRA]]></details></event>

	<event id='1261150592' start_date='2015-10-24 09:00' end_date='2015-10-25 11:00' text='Jason Manford' details='Hammersmith Apollo' />
	<event id='1261150596565' start_date='2015-10-24 09:00' end_date='2015-10-24 11:00' text='Jean Pelo' details='Hammersmith Apollo' />


</data>